%h1 Products List
%ul
  - @products.each do |product|
    %li
      = product.title
      %br/
      = product.content
      = product.price

  

  
  .ui.vertical.buttons
  %button.ui.button Create
  %button.ui.button starter
  .list salad
  
  %button.ui.button main course
  .list lasagne

  %button.ui.button dessert
  .list apple pie